html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.box {
    background-color: #4230ff;
    padding: 10px 0 20px 100px;
    border: 8px solid #160764;
    margin: 10px 20px 30px 40px;
    display: inline-block;
}

.box-1__height {
    height: 300px;
    width: 50%;
    visibility: hidden;
}

.box-hover:hover {
    background-color: #160764;
    border: 8px solid #4230ff;
}

